body{
    
    background: #E5E5E5;
    margin:0;
    
    display: flex;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.input-texto{
    
    position: absolute;
    width: 577px;
    height: 48px;
    left: 180px;
    top: 120px;

    font-family: 'Pangolin', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #0A3871;
    background: #E5E5E5;
    border: 0;
    outline: none;
    flex-wrap: wrap;

}
#munheco{
  position: relative;
  margin: 50px 0;
}
#img{
    margin: auto;
}

.imgAlerta{
    position: absolute;
    padding: 10px 20px;
    
    left: 100px;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #495057;
}

.label-info{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 150px;
    top: 470px;
}

.info{
    width: 400px;
    height: 30px;
    padding: 0 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: #495057;
    opacity: 0.8;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#botones{
    
    display: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 150px;
    top: 500px;
}

#boton-encriptar{
    font-family: 'Pangolin', cursive;
    display: absolute;
    flex-direction: row;
    align-items: flex-start;
    
    padding: 24px;

    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;
    transition: 1s all;
    cursor:pointer;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.encriptar{
    width: 280px;
    height: 19px;

    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}
#boton-encriptar:hover{
    background: black;
    transform: scale(1.03);
 
}

#boton-desencriptar{
    font-family: 'Pangolin', cursive;
    box-sizing: border-box;

    display: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;


    width: 328px;
    height: 67px;

    background: #D8DFE8;

    border: 1px solid #0A3871;
    border-radius: 24px;
    margin: 0px 10px;
 
    flex: none;
    order: 1;
    flex-grow: 0;

}
#boton-desencriptar:hover{
    background: lightgray;
    transform: scale(1.03);
 
}

.desencriptar{
    width: 280px;
    height: 19px;

    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
    transition: 1s all;
    cursor:pointer;
}

#cuadroMensaje{
    position: absolute;
    width: 400px;
    height: 580px;
    left: 900px;
    top: 20px;
    justify-content: center;
    justify-items: center;

    background: #FFFFFF;
    box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.88);
    border-radius: 32px;
}

#munheco .texto1{
    width: 336px;
    height: 58px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;
    

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: auto;

}

#munheco .texto2{
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: auto;
}

#mensaje{
    visibility: hidden;
    position: absolute;
    width: 336px;
    height: 400px;
    left: 30px;
    top: 40px;

    
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    border: 0;
    outline: none;

    color: #495057;
}

#boton-copiar{
    visibility: hidden;
    box-sizing: border-box;
    display: absolute;
    flex-direction: row;
    padding: 24px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 35px;
    top: 480px;
    cursor: pointer;

    border: 1px solid #0A3871;
    border-radius: 24px;
}

#boton-copiar:hover{
    background: lightgray;
    transform: scale(1.03);
 
}

.copiar{
    width: 288px;
    height: 19px;
    
    font-family: 'Pangolin', cursive;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    text-align: center;
    color: #0A3871;
    
    flex: none;
    order: 0;
    flex-grow: 1;
}

footer{
    
    position:absolute;
    font-family: 'Press Star 2p', cursive ;
    height:solid;
    width: 100%;
    font-size: 18px;
    bottom: 0;
    text-align: center;
    
}



@media screen and (max-width: 800px) {
    body{
        
        width: 100%;
    }
    
     #logo{
        width: auto;
     }
     .input-texto{
        width: 100%;
     }   
     #botones{
       
        width: 100%;
        
    }
    }

@media screen and (max-width: 400px) {
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
    
        position: relative;
        width: 375px;
        height: 933px;
    }
  

    .input-texto{
        width: 343px;
        height: 48px;

        position: absolute;
        
        left: 16px;
        top: 152px;

    }   
    .label-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;

        position: absolute;
        width: 229px;
        height: 18px;
        left: 16px;
        top: 451px;
    }
    #cuadroMensaje{
        display: flex;
        flex-direction:column;    
        align-items: flex-start;
        padding: 32px;

        position: absolute;
        width: 327px;
        height: 195px;
        left: 24px;
        top: 680px;        
    }

    #botones{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        left:16px;
        top: 485px;
        height: 158px;
        width: 343px;
        top:485px;        
        position: absolute;
    }

    #munheco{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        width: 263px;
        height: 122px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
              
    }

    #imagen{
        display: none;
        width: 50%;
        height: 50%;
    }

    #munheco .texto1{
        width: 263px;
        height: 58px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        flex:none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    #munheco .texto2{
        width: 263px;
        height: 48px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    #boton-encriptar{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
     
        width: 343px; 
        height: 67px;
     
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    #mensaje{
        
        width: 295px;
        height: 120px;
        position: absolute;
        left: 16px;
        top:10px;

        font-weight: 400;
        font-size: 24px;
        line-height: 150%;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        flex-wrap: wrap;
    }
    #boton-desencriptar{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        width: 343px; 
        height: 67px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    #boton-copiar{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;

        align-items: flex-start;
        
        padding: 24px;

        width: 260px; 
        height: 50px;
        top: 135px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        
    }   
}